// 基础色
$color-primary: #12DBA5; // 主色调
$color-green: #12DBA5;
$color-red: #FF6661;
$color-orange: #FFB700;

// 字体色
$fc-primary: #12DBA5; // 主色调
$fc-green: #12DBA5;
$fc-red: #FF6661;
$fc-orange: #FFB700;
$fc-normal: #181818;
$fc-gray: #666666; // 灰度
$fc-gray-x: #A3A3A3;
$fc-gray-x: #7D7D7D;
$fc-gray-xx: #A3A3A3;
$fc-link: #596E91; // 链接

// 背景色
$bc-black: #000000;
$bc-gray: #EDEFF2;
$bc-gray-deep: #909399;
$bc-gray-light: #F5F7FA;

// 线条
$bc-color-normal:#E1E1E1; // 正常
$bc-color-light:#E1E1E1; // 浅色
$bc-color-deep:#E1E1E1; // 深色

// 字体大小
$fs-sm-x: 12px;
$fs-sm: 13px;
$fs-nm: 14px;
$fs-lg-x: 15px;
$fs-lg-xx: 16px;


